{% extends 'template.html' %}

{% block title%}Добавить{% endblock %}
 
{% block body %}
<body>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Добавление студента</h1>
      <p class="col-lg-10 fs-4">Тут можно добавить студента как было написано в задании</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
        <div class="form-floating mb-3">
          <input type="name" class="form-control" name="std_name" id="std_name" placeholder="Иван Иванов">
          <label for="std_name">Имя студента</label>
        </div>
        <div class="form-floating mb-3">
          <input type="name" class="form-control" name="std_group" id="std_group" placeholder="ИБМ7-11б">
          <label for="std_group">Группа</label>
        </div>
        <div class="form-floating mb-3">
          <input type="name" class="form-control" name="std_marks"  id="std_marks" placeholder="">
          <label for="std_marks">Оценки</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить студента</button>
        <hr class="my-4">
        <small class="text-muted">Мы не придумал как можно хранить списки в sqlite поэтому просьба оценки записывать строкой</small>
      </form>
    </div>
  </div>
</div>
</body>
{% endblock %}